#container{
    margin:auto;
    width: 100%; 
}
#header{
    
    background-color: green;
    padding: 10px;
}
#menu{

    float: left;
    width: 100%;
    background-color: yellow;

}
#menu ul li{

    list-style-type: none;
    display: inline;
}
#menu li a{

    display: block;
    text-decoration: none;
    border-right: 2px solid;
    padding: 3px 10px;
    float: left;

}
#content{

    clear:left;
    float: left;
    width: 65%;
    padding: 20PX 0;
    margin: 0 0 0 5%;
    display: inline;
}
#sidebar{

    float: right;
    width: 30%;
    padding: 20px 0;
    display: inline;
    background-color: green;

}
#footer{

    clear: left;
    background-color: green;
    text-align: center;
    padding: 10px;
    bottom: 10px;
    position: absolute;
    width :100%;

}